@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply bg-button-dark
}

body.no-scroll{
  overflow: hidden;
}


@font-face {
  font-family: 'Studio6';
  src: url('../public/font/studio6/Studio6-Black.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'Studio6';
  src: url('../public/font/studio6/Studio6-ExtraBold.ttf');
  font-weight: 800;
}
@font-face {
  font-family: 'Studio6';
  src: url('../public/font/studio6/Studio6-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Studio6';
  src: url('../public/font/studio6/Studio6-DemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Studio6';
  src: url('../public/font/studio6/Studio6-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Studio6';
  src: url('../public/font/studio6/Studio6-Regular.ttf');
  font-weight: 400;
}



.header{
  background:linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,1)),url('../public/prueba.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.slider{
  height: auto;
  width: 100%;
  overflow: hidden;

}
.slider .slider-track{
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s ease-in-out infinite;
  width: calc(280px * 14);
}

.slide{
  height: 280px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,.2);
  border-bottom: 1px solid rgba(255,255,255,.2);
  border-right: 1px solid rgba(255,255,255,.2);
}



.slider .slide img{
  width: 100px;
  height: 100px;
  opacity: 0.6;
}
.slide:hover img{

  opacity: 1;

}
@keyframes scroll{
  0%{
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  100%{
    -webkit-transform: translateX(calc(-280px * 7));
    transform: translateX(calc(-280px * 7))
  }
}